<div class="container m-t-0" style="color: #ffffff">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-offset-7 col-xs-3">
                    <label for="search">Recherche:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filtrer ">
                </div>
                <div class="col-xs-1">
                    <label for="search">Commande</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Titre</th>
                            <th>Mis à jour</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="order in postedOrders | filter:q | itemsPerPage: pageSize" current-page="currentPage"
                            ng-if="postedOrders"
                            ng-class="(order.status.state === 1) ? 'table-warning' : (order.status.state === 2) ? 'table-danger' : ''"
                                >
                            <th scope="row">{{order.title}}</th>
                            <td>{{order.updated | dateFormat : 'L, HH[h]mm'}}</td>
                            <td>
                                {{order.status.msg}}
                                <span ng-if="order.status.state === 1 || order.status.state === 2">
                                    {{order.updater.username}}.
                                </span>
                            </td>
                            <td>
                                <a ng-href="/order/profile/{{order.id}}">
                                    <button type="button" ng-disabled="order.content === null" class="btn btn-primary btn-sm">
                                        <i class="fa fa-link"></i>
                                    </button>
                                </a>
                                <a ng-href="/order/update/{{order.id}}">
                                    <button type="button" ng-disabled="order.content === null" class="btn btn-warning btn-sm">
                                        <i class="fa fa-pencil-square"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="!postedOrders">
                            <td colspan="4" class="text-center p-t-lg">
                                Vous avez publié aucune commande !<br/>
                                <a class="drunk" href="/orders"><h6 style="color: #FF9900">« Cliquez ici pour réaliser un nouveau projet de puzzle en 3D»</h6></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" template-url="/bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
